/* Styles */

.register {
  padding: 2rem 1rem;

  &-content {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1.3rem;
    height: 100%;
    font-family: 'Jost-Regular';
  }

  &-header {
    display: flex;
    row-gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    &-title {
      text-align: center;
      font-size: var(--text-lg);
    }
    &-subtitle {
      text-align: center;
      padding: 0 1rem;
      font-family: 'Jost-Light';
      font-size: var(--text-xs);
    }
  }
}

@media (min-width: 700px) {
  .register-content {
    row-gap: 3rem;
  }
  .register-header-title {
    font-size: var(--text-2xl);
  }
  .register-header-subtitle {
    font-size: var(--text-base);
  }
}
