.events {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 1em auto;
  border: none;
  border-radius: var(--radius-lg);
  padding: 2%;
  height: auto;
}
@media (min-width: 700px) {
  .events {
    border: var(--border-sm) solid var(--light-black);
  }
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.MagnifyingGlass-wrapper {
  margin: auto;
}
