.error {
  display: grid;
  align-items: end;
  justify-items: center;
  margin-top: 1.5rem;
  grid-row-gap: 2rem;

  &__title {
    font-family: 'Jost-Regular', sans-serif;
    font-size: var(--text-3xl);
    text-align: center;
  }

  &__text {
    font-family: 'Jost-Light', sans-serif;
    font-size: var(--text-base);
    text-align: center;
    align-self: center;
  }

  &__img {
    align-self: end;
    width: 100%;
    max-width: 460px;
    cursor: pointer;
  }
}
@media (min-width: 700px) {
  .error {
    &__title {
      font-size: var(--text-5xl);
    }
    &__text {
      font-size: var(--text-lg);
    }
    &__img {
      max-width: 580px;
    }
  }
}
