.events {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 95%;
  margin: 1em auto;
  border: var(--border-sm) solid var(--light-black);
  border-radius: var(--radius-lg);
  padding-top: 2%;
  padding-bottom: 2%;
  height: auto;
}

@media (max-width: 700px) {
  .events {
    display: flex;
    flex-direction: column;
  }
} ;
