.password-validator-information {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  margin-top: 1rem;

  color: var(--dark-black);
  font-size: var(--text-sm);

  &-item {
    display: flex;
    column-gap: 1rem;
  }
  &-valid {
    color: var(--medium-green);
  }
  &-invalid {
    color: var(--medium-red);
  }
}
