:root {
    /* color */
    --medium-purple : #8662C7 ;
    --light-purple : #CFBCF2;
    
    --dark-green : #0E5814;
    --medium-green : #3F9142 ;
    --light-green : #57AE5B;
    --extra-light-green : #7BC47F;
    
    --dark-red : #A61B1B;
    --medium-red : #D64545;
    --light-red:    #E66A6A;
    --extra-light-red : #F29B9B;

    --extra-dark-black:#222222;
    --dark-black:#3B3B3B;
    --medium-black:#515151;
    --light-black:#626262;
    --extra-light-black:#7E7E7E;
    
    --extra-dark-grey:#9E9E9E;
    --dark-grey:#B1B1B1;
    --medium-grey:#CFCFCF;
    --light-grey:#E1E1E1;
    --extra-light-grey:#F7F7F7;
    
    --icon-black:#0D2B3E;
    --icon-grey : #A5B3BB;
    --event-card : #F4F6F1;
    
    --dark-yellow:#513C06;
    --light-yellow:#F9DA8B;
    --extra-light-yellow:#F8E3A3;
}























