.btn-transparent {
  background-color: transparent;
  color: var(--extra-light-grey);
}

.btn-green {
  background-color: var(--light-green);
  color: var(--extra-light-grey);
}

.btn-grey {
  background-color: var(--extra-light-grey);
  color: var(--extra-dark-black);
}
