.btn-transparent {
  background-color: transparent;
  color: var(--extra-light-grey);
}

.btn-green {
  background-color: var(--medium-green);
  color: var(--extra-light-grey);
  box-shadow: var(--shadow-lg);
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: var(--dark-green);
  }
  &:active {
    box-shadow: none;
  }
}

.btn-purple {
  background-color: var(--medium-purple);
  color: var(--extra-light-grey);
  box-shadow: var(--shadow-lg);
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: var(--medium-green);
  }
  &:active {
    box-shadow: none;
  }
}

.btn-grey {
  background-color: var(--extra-light-grey);
  color: var(--extra-dark-black);
}
