.btn-transparent {
  background-color: transparent;
  color: var(--extra-light-grey);
}

.btn-green {
  background: linear-gradient(90deg, var(--medium-green), var(--dark-green));
  color: var(--extra-light-grey);
  box-shadow: var(--shadow-lg);

  &:hover {
    background: linear-gradient(
      90deg,
      var(--medium-green),
      var(--medium-green)
    );
  }
}

.btn-grey {
  background-color: var(--extra-light-grey);
  color: var(--extra-dark-black);
}
