.footer {
  width: 500px;
  margin: 1em auto;
  text-align: center;
  background-color: var(--extra-light-grey);
  width: 100%;

  

&__up {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 4em;
  padding-bottom: 6em;
  padding-top: 5em;
}

}