.register-form {
  display: grid;
  margin: 0 auto;
  grid-template-columns: 1fr;
  row-gap: 0.8rem;
  border-radius: var(--radius-base);
  background-color: var(--extra-light-grey);
  box-shadow: var(--shadow-lg);
  width: 100%;
  max-width: 600px;
  padding: 1rem;

  &-title {
    text-align: center;
    margin-bottom: 0.5rem;
  }

  &-field-sport {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    row-gap: 0.5rem;

    &-label {
      color: var(--dark-black);
      font-size: var(--text-sm);
    }
  }

  &-field-password {
    position: relative;
  }

  &-field-input,
  &-field-select {
    border: var(--border-sm) solid var(--medium-grey);
    border-radius: var(--radius-lg);
    font-family: 'Jost-Light';
    font-size: 1rem;
    height: 2.5rem;
    padding: 0 1rem;
    width: 100%;
  }

  &-divider {
    margin: 1rem 0;
    width: 100%;
  }

  &-error {
    color: var(--light-red);
    font-size: var(--text-sm);
    margin-top: 0.5rem;
  }

  &-button-container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, minmax(90px, 190px));
    column-gap: 3rem;
    height: 2.5rem;

    margin: 1rem 0;
    padding: 0 0.8rem;
    width: 100%;
  }
  &-button {
    border: none;
    border-radius: var(--radius-base);
    -webkit-box-shadow: var(--shadow-sm);
    box-shadow: var(--shadow-sm);
    max-width: 190px;
    cursor: pointer;
    font-family: 'Jost-Regular';
    font-size: var(--text-sm);

    &-cancel {
      background-color: #fff;
      border: var(--border-sm) solid var(--medium-purple);
      color: var(--medium-purple);

      transition: all 0.3s ease-in-out;
    }
    &-cancel:hover {
      background-color: var(--light-red);
      border: var(--border-sm) solid var(--light-red);
      color: #fff;
    }
    &-submit {
      background-color: var(--medium-purple);
      border: var(--border-sm) solid var(--medium-purple);
      color: #fff;
      transition: all 0.3s ease-in-out;
    }
    &-submit:hover {
      background-color: var(--light-green);
      border: var(--border-sm) solid var(--light-green);
    }
  }
}
@media (min-width: 700px) {
  .register-form {
    border-radius: var(--radius-lg);
    padding: 2rem;
  }
  .register-form-title {
    font-size: var(--text-xl);
  }
}
