/* delete event modal */

.event-delete-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-100%);

  &.delete-modal-active {
    transform: translateY(0);
  }

  &-container {
    position: relative;
    width: 100%;
    max-width: 400px;
    height: 100%;
    max-height: 200px;
    background-color: #fff;
    border-radius: var(--radius-lg);
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }
  &-title {
    font-size: var(--text-lg);
  }
  &-button-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(90px, 190px));
    column-gap: 3rem;
    height: 2.5rem;
    margin: 1rem 0;
    padding: 0 0.8rem;
    width: 100%;
  }
  &-button {
    border: none;
    border-radius: var(--radius-base);
    -webkit-box-shadow: var(--shadow-sm);
    box-shadow: var(--shadow-sm);
    max-width: 190px;
    cursor: pointer;
    padding: 0.5rem;
    font-family: 'Jost-Regular';
    font-size: var(--text-sm);

    &-cancel {
      background-color: var(--light-green);
      border: var(--border-sm) solid var(--light-green);
      color: var(--extra-light-grey);

      transition: all 0.3s ease-in-out;
    }
    &-cancel:hover {
      background-color: var(--medium-green);
      border: var(--border-sm) solid var(--medium-green);
    }

    &-delete {
      background-color: var(--light-red);
      border: var(--border-sm) solid var(--light-red);
      color: var(--extra-light-grey);
      transition: all 0.3s ease-in-out;

      &:hover {
        background-color: var(--medium-red);
        border: var(--border-sm) solid var(--medium-red);
      }
    }
  }
}
@media (min-width: 700px) {
  .event-delete-modal {
    &-container {
      max-width: 450px;
      max-height: 250px;
      padding: 3rem 1rem;
    }
    &-text-container {
      display: grid;
      grid-template-columns: 1fr max-content;
      justify-items: center;
      align-items: center;
      row-gap: 1.6rem;
      column-gap: 1.6rem;
      text-align: center;
    }
    &-text-content {
      display: grid;
      grid-template-columns: 1fr;
      justify-items: center;
      row-gap: 1rem;
    }
    &-title {
      font-size: var(--text-xl);
    }
    &-button {
      padding: 0.8rem 0;
    }
  }
}
