.search {
  font-family: 'Jost-Regular', sans-serif;
  display: flex;
  flex-direction: column;
  row-gap: 0.8rem;

  &__title {
    &__text {
      font-family: 'Jost-Light', sans-serif;
    }
  }

  &__block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &__form {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 50px;
      &__input {
        &__sport {
          background-color: var(--extra-light-grey);
          border-radius: var(--radius-sm);
          padding: 0.8%;
          display: flex;
          flex-grow: 2;
          align-items: center;
          border: 0.5px solid var(--light-grey);
          &__iconsearch {
            width: 1.4rem;

            &__primary {
              fill: white;
            }
          }
          &__text {
            background-color: var(--extra-light-grey);
            border: none;
          }
        }

        &__place {
          background-color: var(--extra-light-grey);
          border-radius: var(--radius-sm);
          padding: 0.8%;
          display: flex;
          flex-grow: 2;
          align-items: center;
          border: 0.5px solid var(--light-grey);

          &__iconlocationpin {
            width: var(--text-2xl);

            &__primary {
              fill: var(--icon-grey);
            }

            &__secondary {
              fill: var(--icon-black);
            }
          }
          &__text {
            background-color: var(--extra-light-grey);
            border: none;
            margin-left: 3%;
          }
        }

        &__submit {
          display: flex;
          align-items: center;
          justify-content: center;

          &__button {
            background-color: var(--medium-black);
            border: none;
            border-radius: 0 var(--radius-base) var(--radius-base) 0;
            width: 100%;
            height: 100%;

            &__image {
              width: 2rem;
            }
          }
        }
      }
    }

    &__filter {
      display: flex;
      flex-grow: 1;
      position: relative;

      &__button {
        background-color: white;
        border: 0.5px solid var(--light-grey);
        border-radius: var(--radius-full);
        height: 100%;
        font-size: var(--text-xs);
      }

      &__select {
        background-color: white;
        border: 0.5px solid var(--light-grey);
        border-radius: var(--radius-full);
        height: 100%;
        font-size: var(--text-xs);
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        text-align: center;
      }
    }
  }
}
