.event-detail {
  display: grid;
  grid-template-columns: 1fr;

  width: 100%;
}

/* EVENT SECTION */

.event-detail-section {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  padding: 2rem 1rem;
}
